[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.f-left {
	float: left;
	display: block;
}

.f-right {
	float: right;
	display: block;
}

.hide-on-mobile {
	display: block;
	@media (max-width: $screen-sm-min) {
		display: none;
	}
}

.show-on-mobile {
	display: none;
	@media (max-width: $screen-sm-min) {
		display: block;
	}
}