//Fonts
$primary-font: "Karla", sans-serif;
$secondary-font: "Source Code Pro", sans-serif;
$font-family-sans-serif: $primary-font;

//Font sizes
$font-size-base: 16px;
$font-size-smaller: 15px;
$font-size-h1: 18px;

//Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-medium: 600;

//Container
$wrapper-width: 950px;
$sidebar-width: 100px;
$content-width: 600px;
$expanded-info-width: 300px;

//Margins
$horizontal-margin: 75px;
$vertical-margin: 100px;

//Colors
$gray-lighter: #EFEFEF;
$gray-light: #F7F7F7;
$gray: #999;
$gray-darker: #333;
$brand-primary: #48C787;
$brand-danger: #DF4931;
$highfive-light: #FFF5CE;
$highfive-dark: #D9B010;

//Input fields
$input-color-placeholder: #C7C7C8;

//Logo
$logo-height: 12px;
$logo-width: 15px;

//Border radius
$user-image-radius: 50%;
$border-radius-base: 2px;

//Navigation bar
$navbar-height: 30px;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-margin: 75px;
$navbar-padding-horizontal: 75px;