//Side bar which always appears on the left
.sidebar {
	//Logo section
	.logo-container {
		text-align: right;
		margin-bottom: 50px;

		.logo {
			text-indent: -9999em;
			font-size: 0px;
			width: $logo-width;
			height: $logo-height;
			@include background-img("/img/logo.svg", $logo-width $logo-height);
			@include inline-block();
		}

		.version {
			font-family: $secondary-font;
			font-weight: $font-weight-medium;
			background-color: $gray-light;
			color: $gray;
			border-radius: $border-radius-base;
			font-size: 9px;
			padding: 2px 7px;
			@include inline-block();

			&:hover {
				color: $gray;
				background-color: darken($gray-light, 2%);
			}
		}
	}

	//Navigation section
	nav {
		ul {
			list-style: none;
			margin: 25px 0px 0px 0px;
			padding: 0px;

			li {
				list-style: none;
				margin: 0px 0px 5px 0px;
				padding: 0px;
				text-align: right;

				a {
					color: $gray;
					font-weight: $font-weight-regular;
					font-size: $font-size-smaller;

					&:hover, &.active {
						color: $gray-darker;
					}

					&.active {
						font-weight: $font-weight-bold;
					}

					&.brand-primary {
						color: $brand-primary;
						&:hover {
							color: darken($brand-primary, 2%);
						}
					}
				}
			}
		}
	}
}